<div class="post">
  <div class="post_head">
    <div class="post_date"><%= article.published_at.strftime('%B %d, %Y') %></div>
    <h2><%= link_to article.title, article_path_by_date(article) %></h2>
    <div class="post_metadata">
      <div class="post_tags">Tags: <%= raw article.tags.map{|tag| link_to tag.name, tag_path(tag.name.gsub('.', '_').parameterize) }.join(', ') %></div>
      <div class="post_comments"><%= link_to pluralize(article.comments.size, 'Comment'), "#{article_path(article)}#comments" %></div>
    </div>
  </div>
  <p class="excerpt"><%= article.summary.html_safe %></p>
  <% if current_page?(article) %>
    <%= article.content.html_safe %>
  <% else %>
    <p class="read_more"><%= link_to 'Read more...', article_path_by_date(article) %></p>
  <% end %>
</div>