<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>ExpressionLab</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div id="menu">
        <ul class="inline">
          <li><%= link_to_unless_current 'Home', root_url %></li>
          <li><%= link_to_unless_current 'Thoughts', articles_path %></li>
          <li><%= link_to_unless_current 'Work', '#' %></li>
          <li><%= link_to_unless_current 'Contact', '#' %></li>
        </ul>
    </div>
    <div id="logo">
        <h1 title="ExpressionLab"><a href="/">ExpressionLab</a></h1>
    </div>
    <div id="header_content">
      <div class="column">
          <h2>Web Design</h2>
          <ul class="bulleted">
              <li>
                  <a href="/work">Stylish Web 2.0 Designs</a>
              </li>
              <li>
                  <a href="/work">Cross-browser Compatibility</a>
              </li>
              <li>
                  <a href="/work">Standards Compliant Coding</a>
              </li>
          </ul>
      </div>
      <div class="column middle_column">
          <h2>Web Development</h2>
          <ul class="bulleted">
              <li>
                  <a href="/work">Ruby on Rails Development</a>
              </li>
              <li>
                  <a href="/work">Content Management Systems</a>
              </li>
              <li>
                  <a href="/work">Forums and Blogs</a>
              </li>
          </ul>
      </div>
      <div class="column">
          <h2>Web Marketing</h2>
          <ul class="bulleted">
              <li>
                  <a href="/work">Search Engine Optimization</a>
              </li>
              <li>
                  <a href="/work">Accessibility &amp; Usability Testing</a>
              </li>
              <li>
                  <a href="/work">Corporate Identity Design</a>
              </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section_content">
      <div class="main">
        <%- flash.each do |name, message| -%>
          <%= content_tag :div, message, :class => name %>
        <%- end -%>
        <%= yield %>
      </div>
      <div class="sidebar">
        <h3 class="title">Recently</h3>
        <ul class="image_bulleted thoughts separated">
          <% for article in Article.recent do %>
          <li>
            <%= link_to article.title, article_path_by_date(article) %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer" class="section">
    <div class="section_content">
      <div class="column">
          <h4>About</h4>
          <ul id="about" class="separated">
              <li>
                  ExpressionLab is the online home of <a href="http://www.workingwithrails.com/person/7951-hatem-mahmoud" target="_blank">Hatem Mahmoud</a>, a professional developer who loves to build web applications. Here is where I publish my <a href="/thoughts">thoughts</a>
                  and show my <a href="/work">work</a>.
              </li>
          </ul>
      </div>
      <div class="column middle_column">
          <h4>Resources</h4>
          <ul class="separated image_bulleted links">
              <li>
                  <a href="http://mashable.com/" target="_blank">Mashable</a>
              </li>
              <li>
                  <a href="http://www.smashingmagazine.com" target="_blank">Smashing Magazine</a>
              </li>
              <li>
                  <a href="http://techcrunch.com/" target="_blank">TechCrunch</a>
              </li>
              <li>
                  <a href="http://www.sitepoint.com/" target="_blank">SitePoint</a>
              </li>
          </ul>
      </div>
      <div class="column">
          <h4>Favorites</h4>
          <ul class="separated image_bulleted links">
              <li>
                  <a href="https://customers.asmallorange.com/aff.php?aff=11885" target="_blank">A Small Orange</a>
              </li>
              <li>
                  <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>
              </li>
              <li>
                  <a href="https://github.com/hatem/" target="_blank">GitHub</a>
              </li>
              <li>
                  <a target="_blank" href="http://www.espace.com.eg/">eSpace</a>
              </li>
          </ul>
      </div>
    </div>
    <div id="copyright">
        <p>
            © 2011 ExpressionLab. All Rights Reserved.
        </p>
        <ul class="inline">
            <li>
                <a href="/" class="current">Home </a>
            </li>
            <li>
                <a href="/thoughts">Thoughts </a>
            </li>
            <li>
                <a href="/work">Work </a>
            </li>
            <li>
                <a href="/contact">Contact </a>
            </li>
        </ul>
        <ul class="inline">
            <li>
                <a target="_blank" href="http://validator.w3.org/check/referer">XHTML</a>
            </li>
            <li>
                <a target="_blank" href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
            </li>
            <li>
                <a target="_blank" href="http://www.contentquality.com/mynewtester/cynthia.exe?Url1=http://www.expressionlab.com/">508</a>
            </li>
            <li>
                <a target="_blank" href="http://validator.w3.org/feed/check.cgi?url=http://www.expressionlab.com/feed/atom.xml">Feed</a>
            </li>
        </ul>
        <a href="/feed/atom.xml" class="feed" title="Feed">Feed</a>
    </div>
  </div>
</body>
</html>